
tr:nth-child(even) {
    background-color: #bebebe;
  }



.accContainer{
    width: 75%;
    margin: auto;
    margin-top: 55px;
}

.construct{
    margin-left: -100px;
    width: 150px;

}


.raceResult{
    margin-left: 55px;
}

#sidebar{
    margin-left: -180px;
    margin-top: -47px;
}

img{
    height: 500px;
}

.team{
    height: 45px;
    background: none;
}

.margin-l-10{
    margin-left: -25px;
}

.last-winner{
    text-align: center;
    border: 1px solid gray;
    margin: 10px 10px;
    width: 75%;
    height: 200px;
}

.last-winner h2{
    margin-top: 10px;
}

.last-winner img{
    height: 100px
}

#name{
    margin-top: 25px;
}

.rounded{
    border-radius: 50px;
}

#fastest-lap{
    color: magenta;
}