
tr:nth-child(even) {
    background-color: #bebebe;
  }

.accContainer{
    width: 75%;
    margin: auto;
    margin-top: 55px;
}

.raceResult{
    margin-left: 55px;
}

#sidebar{
    margin-left: -180px;
    margin-top: -47px;
}