
tr:nth-child(even) {
    background-color: #bebebe;
  }



.accContainer{
    width: 75%;
    margin: auto;
    margin-top: 55px;
}

.construct{
    margin-left: -100px;
    width: 150px;

}

.pts{
    background-color: gray; 
    color: #fff; 
    border-radius: 10px; 
    font-size: smaller; 
    padding: 2px;
}

.raceResult{
    margin-left: 55px;
}

#sidebar{
    margin-left: -180px;
    margin-top: -47px;
}

#track{
    height: 500px;
}

.small-card{
    margin-top: 15px;
    padding-top: 25px;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-radius: 25px;
}

#renault{
    margin: 10px;
}

#tauri{
    height:350px;
    margin: 10px;
}

#mclaren{
    height: 250px;
    margin-left: 10px;
    margin-top: -50px;

}

#merc{
    height: 200px;
}

#bwt{
    height: 300px;
    margin: 10px;
}
#haas{
    margin-bottom: -93px;
    margin-top: -93px;
    height: 400px;
}
.team{
    height: 45px;
    background: none;
}

.margin-l-10{
    margin-left: -25px;
}

.margin-l-plus-10{
    margin-left: 10px;
}

.team-stats{
    margin-left: 209px;
}

.last-winner{
    text-align: center;
    border: 1px solid gray;
    margin: 10px 10px;
    width: 75%;
    height: 200px;
}

.last-winner h2{
    margin-top: 10px;
}

.last-winner img{
    height: 100px
}

#name{
    margin-top: 25px;
}

.rounded{
    border-radius: 50px;
}

#fastest-lap{
    color: magenta;
}